
    <h2>
      新規登録
    </h2>

<%= form_for [@user, @outfit] do |f| %>

            <%= f.select :category, [["アウター", "outer"], ["インナー", "inner"],["ボトムス", "bottom"],["靴", "shoe"],["その他", "other"]] %>

            <%= f.text_field :brand, placeholder: "ブランド名"  %><br />
            <%= f.text_field :sub_category, placeholder: "名前" %><br />
            <%= f.datetime_field :date %><br />
            <%= f.file_field :image %><br />
            <%= f.submit "新規登録" %>

<% end %>