<div class="content-section-c">

      <div class="container">

          <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <p class="lead">
          <h2>
          新規登録
          </h2>

          <%= form_for [@user, @outfit] do |f| %>

            <%= f.select :category, [["アウター", "outer"], ["インナー", "inner"],["ボトムス", "bottom"],["靴", "shoe"],["その他", "other"]] %><br />

            <%= f.text_field :brand, placeholder: "ブランド名"  %><br />
            <%= f.text_field :name, placeholder: "名前 (好きな名前をつけてください)" %><br />
            <%= f.text_field :year, placeholder: "購入年 (例: 2016)" %><br />
            <%= f.file_field :image %><br />
            <%= f.submit "新規登録" %>

            <% end %>

                </p>
                </div>
          </div>
      </div>

</div>
        <!-- /.container -->
