
    <h2>
      新規登録
    </h2>

<%= form_for [@user, @outfit] do |f| %>

            <%= f.text_field :category %><br />
            <%= f.text_field :sub_category %><br />
            <%= f.text_field :brand %><br />
            <%= f.datetime_field :date %><br />
            <%= f.file_field :image %><br />
            <%= f.submit %>

<% end %>