<div class="content-section-c">

      <div class="container">

          <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <p class="lead">
          <h2>
          新規登録
          </h2>

          <%= form_for [@user, @outfit,:html => {:multipart => true}] do |f| %>

            <%= f.select :category, [["アウター", 1], ["インナー", 2],["ボトムス", 3],["靴", 4],["その他", 5]] %><br /><br />

            <%= f.text_field :brand, placeholder: "ブランド名", class: 'form-control'  %><br />
            <%= f.text_field :name, placeholder: "名前 (好きな名前をつけてください)",class: 'form-control' %><br />
            <%= f.text_field :year, placeholder: "購入年 (例: 2016)",class: 'form-control' %><br />
            <%= f.file_field :image %><br />
            <%= f.submit "新規登録",class:'btn btn-lg btn-primary btn-block' %>

            <% end %>

                </p>
                </div>
          </div>
      </div>

</div>
        <!-- /.container -->
