<div class="content-day clearfix">

<h3><%= day.date.strftime("%m/%d") %></h3>
<h3><%= day.date.strftime("%a") %></h3>
<%= button_to 'コーデ作成', "/users/#{current_user.id}/newcoordinates/new?day=#{day.id}" ,method: :get, class: "btn-default btn-sm" %>
<%= button_to 'コーデ選択', "/users/#{current_user.id}/days/#{day.id}/daycoordinates/new" ,method: :get, class: "btn-default btn-sm" %>
<%= button_to 'コーデ削除', "/users/#{current_user.id}/days/#{day.id}/daycoordinates/#{day.coordinate_id}" ,method: :delete, class: "btn-default btn-sm" %>
<br />

<% if (day.coordinate_id) %>
<% id = day.coordinate_id %>

<% @newcoordinates.select{|i|i[:coordinate_id] == id}.each do |s| %>
<%= image_tag s.outfit.image,:width => '75' %>
<br />
<br />
<% end %>

<% else %>
<% end %>

</div>