<div class="content-section-c">

    <div class="container">
      <div class="content-small clearfix">

      <h2><%=  current_user.nickname%></h2>

      <% if current_user.avatar? %>
      <%= image_tag current_user.avatar,:width => '150'  %><br /><br />
      <% else %>
      <p>写真なし</p><br /><br />
      <% end %>

      <% if current_user.id == @user.id %>
      <div class="profile_edit">
        <%= link_to "プロフィール編集", edit_user_path(current_user), {:class => "btn btn-primary withripple" }%><br />
      </div>
      <% end %>
      <%= link_to 'My Closet', "/users/#{current_user.id}/outfits", method: :get %><br />

      <%= link_to '新規登録', "/users/#{current_user.id}/outfits/new", method: :get %><br />

      <p>新規登録</p2>

      <%= form_for [@user, @day] do |f| %>

      <%= f.select :day, [["月曜日", "mon"], ["火曜日", "tue"],["水曜日", "wed"],["木曜日", "thu"],["金曜日", "fri"],["土曜日", "sat"],["日曜日", "sun"]] %><br /><br />

      <%= f.submit "新規登録", class:"btn btn-primary withripple" %>

      <% end %>

      </div>
      
      <%= render partial: "users/day", collection: @days %>

      </div>

</div>
        <!-- /.container -->