<div class="content-section-c">

    <div class="container">
      <div class="content-big clearfix">

      <h2><%=  current_user.nickname%></h2>

      <% if current_user.avatar? %>
      <%= image_tag current_user.avatar,:width => '120'  %><br /><br />
      <% else %>
      <p>写真なし</p><br /><br />
      <% end %>

      <% if current_user.id == @user.id %>
      <div class="profile_edit">
        <%= link_to "プロフィール編集", edit_user_path(current_user), {:class => "btn btn-primary withripple" }%><br />
      </div>
      <% end %>
      <%= link_to 'My Closet', "/users/#{current_user.id}/outfits", method: :get %><br />

      <%= link_to '新規登録', "/users/#{current_user.id}/outfits/new", method: :get %><br />

      <%= link_to '曜日の追加', "/users/#{current_user.id}/days/new", method: :get %>

      </div>
      <div class="content-big clearfix">

      <%= render partial: "users/day", collection: @days %>

      </div>
      </div>

</div>
        <!-- /.container -->