<div class="content-section-c">

    <div class="container">
      <div class="content-small clearfix">
    
      <h2><%= current_user.nickname %></h2>

      <% if current_user.avatar? %>
      <%= image_tag current_user.avatar,:width => '150'  %><br/>
      <% else %>
      <p>写真なし</p><br/>
      <% end %>

      <% if current_user.id == @user.id %>
      <br/>
      <div class="profile_edit">
        <%= button_to "プロフィール編集", "/users/#{current_user.id}/edit", method: :get, class: "btn btn-primary withripple" %><br />
      </div>
      <% end %>
      <ul>
      <li>
      <%= link_to 'クローゼット', "/users/#{current_user.id}/outfits", method: :get, :style=>"color:#000000;" %><br />
      <%= link_to 'クローゼットに新規登録', "/users/#{current_user.id}/outfits/new",  method: :get, :style=>"color:#000000;" %><br/>
       </li></ul>

      <!-- want to have day-search function -->

      <%= paginate @days %>

      </div>
      
      <%= render partial: "users/day", collection: @days %>

</div>
        <!-- /.container -->